#include "version.h"
#include "version.rc"
#include "res.h"

IDI_MAIN ICON DISCARDABLE "main.ico"

IDR_CONTEXT_MENU MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Rescan",                 IDM_RESCAN
        MENUITEM "&Open File",              IDM_OPEN_FILE
        MENUITEM "&Open in Explorer",       IDM_OPEN_DIRECTORY
        MENUITEM SEPARATOR
        MENUITEM "&Hide",                   IDM_HIDE_DIRECTORY
        MENUITEM "&Show",                   IDM_SHOW_DIRECTORY
        MENUITEM SEPARATOR
        MENUITEM "Rec&ycle",                IDM_RECYCLE_ENTRY
        MENUITEM "&Delete",                 IDM_DELETE_ENTRY
        MENUITEM "&Empty Recycle Bin",      IDM_EMPTY_RECYCLEBIN
    END
    POPUP ""
    BEGIN
        MENUITEM "&Plain Colors",           IDM_OPTION_PLAIN
        MENUITEM "&Rainbow Colors (by angle)", IDM_OPTION_RAINBOW
        MENUITEM "&Heatmap Colors (by size)", IDM_OPTION_HEATMAP
        MENUITEM SEPARATOR
        MENUITEM "Show &Names",             IDM_OPTION_NAMES
        MENUITEM "Show &Free Space",        IDM_OPTION_FREESPACE
        MENUITEM "Show &Compressed Sizes",  IDM_OPTION_COMPRESSED
        MENUITEM "Show Proportional &Area", IDM_OPTION_PROPORTION
        MENUITEM "Show Size Comparison &Bar", IDM_OPTION_COMPBAR
#ifdef DEBUG
        MENUITEM SEPARATOR
        MENUITEM "Use Real Data",           IDM_OPTION_REALDATA
        MENUITEM "Use Simulated Data",      IDM_OPTION_SIMULATED
        MENUITEM "Use Color Wheel Data",    IDM_OPTION_COLORWHEEL
        MENUITEM "Use Empty Drive Data",    IDM_OPTION_EMPTYDRIVE
        MENUITEM "Use Only Dirs Data",      IDM_OPTION_ONLYDIRS
#endif
    END
END

